h1{
  color: black;
  font-size: medium;
  display: flex;
  text-align: center;
  justify-content: center;
}
.erste{
  display: flex;
  justify-content: center;

}
li{
  text-decoration: none;
}
.tez{
  border: 2px solid black;
  width: 120px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.tez:hover{
  background-color: red;
}
.but{
  background: black;
  color: white;
}
.yapildi {
  text-decoration: line-through;
}